{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
        <h1>Student Library Information Details</h1>
        </div>
    </div>
    <p>​The Student Library offers electronic and print resources essential to promote science and technology in university, including a core collection of academic books, databases, and journals, as well as research services.
          The Student Library allows students to utilize books, research documents, softwares and educational media. Any students, faculty and staff with a current validated ID card can use the library facility.
          Students needing computers for course related research have priority at all times. During busy periods anyone using a computer for chats, e-mail, or recreational surfing of the web may be asked to relinquish it.</p>

{% endblock %}