{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
        <h1>Student Library Information Details</h1>
        </div>
    </div>
    <p>​The Student Library offers electronic and print resources essential to promote science and technology in university, including a core collection of academic books, databases, and journals, as well as research services.
          The Student Library allows students to utilize books, research documents, softwares and educational media.<br> Any students, faculty and staff with a current validated ID card can use the library facility.
          Students needing computers for course related research have priority at all times. During busy periods anyone using a computer for chats, e-mail, or recreational surfing of the web may be asked to relinquish it.</p>
    <p>Special collections are managed by digital and technology staff overseeing the library's rare, fragile, archival, or o   ther holdings needing special care. <br> * The goal is to make these materials accessible to researchers while preserving the items for posterity. The Student Library has archives and special collections in the following areas.<br> * Photocopying is available in the Information Commons on the first floor of the library. Use thee Xerox printers to make photocopies. If you need additional assistance, please ask the Lab Assistant.</p>
    <p>The University Libraries food and drink policy is intended to maintain a clean and pleasant study environment while preserving library materials, equipment, and furnishings. We ask that library patrons take responsibility for themselves and others and use good judgment to ensure that no trace is left behind and no damage is caused by food and drink. This policy is adopted on the condition that the University Libraries remain clean.</p>

    <ul>

        <li>For further information about the code of conduct please click the <a href="http://library.njit.edu/aboutus/policies/codeofconduct.php">CODE OF CONDUCT</a></li>
    </ul>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Borrowed by</th>
            <th scope="col">Issue Date</th>
            <th scope="col">Due date</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1000</th>
            <td>James Herbert</td>
            <td>The Fogg</td>
            <td>James Lee</td>
            <td> 11/02/2018</td>
            <td> 11/12/2018</td>
        </tr>
        <tr>
            <th scope="row">2000</th>
            <td>James Doe</td>
            <td>Introduction to string theory</td>
            <td>Ryan Cassero</td>
            <td> 10/03/2018</td>
            <td> 10/13/2018</td>
        </tr>
        <tr>
            <th scope="row">3000</th>
            <td>Amy Y.</td>
            <td>Mindmaster Vol.1</td>
            <td>Thomas Cero</td>
            <td> 11/04/2018</td>
            <td> 11/14/2018</td>
        </tr>
        <tr>
            <th scope="row">4000</th>
            <td>Mike Jass</td>
            <td>Human Intelligence: New Beginning </td>
            <td>Dia Shah</td>
            <td> 10/08/2018</td>
            <td> 10/18/2018</td>
        </tr>
        </tbody>
    </table>
{% endblock %}